<h2>About Super Rentals</h2>
<p>
  The Super Rental website was created to explore the wonderful workd of Ember.  This project allows us to imagine traveling the world while simultaneously traversing the pathways of Ember framework.
</p>

{{#link-to 'contact'}}Click here to contact us.
{{/link-to}}
